{% extends "base.html" %}

{% load static %}
{% block content %}






<form action="{% url 'rolls:roll_dice' %}" method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="Roll">
</form>

{% if rolls %}
<br><br>
{% for die in rolls %}
<img src="{% static 'rolls/img/' %}{{die}}.png " />
{% endfor %}
<br><br>
<p>{{ result }}</p>
{% endif %}

{% if rolls and not used_luck %}

<a href="{% url 'rolls:roll_luck' %}">Spend artha to make roll open ended.</a>

{% endif %}
{% endblock %}